                    <div class="news">
                        {%- if site.email -%}
                        <p>Email: <a href="mailto:{{ site.email | encode_email }}" title="email">></i></a></p>
                        {% endif %}
                        <h2> working?</h2>
                        <!-- {%- if site.linkedin_username -%}
                        <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn" target="_blank">GitHub Pages<>></i></a>
                        {% endif %}
                        <a href="https://pages.github.com/" target="_blank">GitHub Pages</a> -->
                    </div>