                    <div class="contact">
                        <h3>Contact Info</h3>
                        {%- if site.email -%}
                        <p><a href="mailto:{{ site.email | encode_email }}" title="email">{{site.email}}</a> (preferred)</p>
                        {% endif %}
                        {%- if site.linkedin_username -%}
                        <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn" target="_blank">LinkedIn</a>
                        {% endif %}
                    </div>